.pageTitle {
    text-align: center;
}

.pageTitle h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: gray;
}

.pageTitle h2 {
    text-decoration: underline;
    font-size: 45px;
}

.gameSelector {
    display: flex;
    text-align: center;
}

.gameImage {
    width: 250px;
    height: 150px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
.gameLink {
    font-size: 45px;
    text-decoration: none;
    color: blue;
}

.snake {
    display: flexbox;
    border: 2px solid black;
    width: 250px;
}

.pong {
    display: flexbox;
    border: 2px solid black;
    width: 250px;
}

.tictac {
    display: flexbox;
    border: 2px solid black;
    width: 250px;
}

.space {
    display: flexbox;
    border: 2px solid black;
    width: 250px;
}

.slide {
    display: flexbox;
    border: 2px solid black;
    width: 250px;
}

.temp {
    display: flexbox;
    border: 2px solid black;
    width: 250px;
}